
body {
  background-color:#023219;
}

.hero-text {
  font-family: "California Paradise";
  color:#7ed942;
  position: absolute;
  margin-left: 40px;
  font-size: 150px;
  text-shadow: 4px 4px 16px #012508;
}

.hero-image{
  background-image: url("images/pexels-alari-tammsalu-10879254.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
opacity: 60%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c4820;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(200, 255, 164);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #286f29;
  text-decoration: underline;
}

.navigation {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: large;
}

.intro {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:2em;
  color:#a3ff87;
  border-style:solid;
  background-color:#2a8826;
  margin-top:30px;
}

.intro-text {
justify-content: left;
display:flex;
margin-left:20px;
}

.paragraph {
  color: #afff96;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:20px;
  display:grid;
  grid-template-columns: 1fr 4fr;
  gap:50px;
  margin-top: 30px;
  margin-left:30px;
  margin-right:30px;
  margin-bottom: 30px;
  background-color: #165b24;
  border-radius: 50px;
}

.paragraph-image {
border-radius: 50px;
border-style:double;
background-color:#7ed942;
opacity:70%;
}

footer {
  border-style: solid;
  border-color:#7ed942;
  background-color: #2a8826;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#a3ff87;
}

.footer-text {
  margin-left: 30px;
  margin-right:30px;
}

.about {
background-color:#0c4820;
border-style: solid;
border-radius: 30px;
color:#a3ff87;
margin-top:50px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-info {
  margin-left:30px;
  margin-right:30px;
  font-size:18px;
}